.search-input {
    width: 450px;
    height: 50px;
    padding: 0 50px;
    border-radius: 5px;
    font-size: 24px;
    color: #000000;
}

.search-button {
    border: none;
    background: transparent;
    cursor: pointer;
}
.search-button img {
    width: 45px;
}

.header-nav {
    display: flex;
    padding: 0;
}

.header-nav__item {
    list-style-type: none;
}

.logout-button,
.login-button,
.mypage-button {
    margin-right: 15px;
    border: none;
    background: transparent;
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
}

.sell-button {
    margin: 0 15px;
    padding: 5px 15px;
    background: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;
    font-size: 24px;
    color: #000000;
}

.login-button {
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
}

.page-button__item {
    display: flex;
    margin: 30px auto;
    padding: 10px 100px;
    border-bottom: 2px solid #5F5F5F;
}

.recommend-button {
    margin: 0 30px;
    font-size: 24px;
}

.mylist-button {
    margin: 0 30px;
    font-size: 24px;
}

.recommend-button a {
    text-decoration: none;
}

.mylist-button a {
    text-decoration: none;
}

.active {
    color: #FF0000;
}

.passive {
    color: #5F5F5F;
}

.items-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.items-wrap::before{
    content:"";
    display: block;
    margin: 0 2%;
    width:20%;
    order:1;
}

.items-wrap::after{
    content:"";
    display: block;
    margin: 0 2%;
    width:20%;
}

.item-contents {
    width: 20%;
    margin: 0 2%;
}

.item-contents a {
    text-decoration: none;
}

.item-image {
    width: 100%;
}

.content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    font-size: 25px;
    color: #000000;
}

.sold {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    background: #FF0000;
    color: white;
}

@media screen and (max-width: 850px) {
    .search-input {
        width: 230px;
        height: 35px;
        padding: 0 25px;
        font-size: 14px;
    }

    .search-button img {
        width: 20px;
    }

    .logout-button,
    .login-button,
    .mypage-button,
    .sell-button {
        font-size: 14px;
        margin: 0 5px;
    }

    .page-button__item {
        margin: 15px auto;
        padding: 10px 50px;
    }

    .item-name {
        font-size: 15px;
    }

    .sold {
        padding: 5px;
        font-size: 12px;
    }
}