.login-form {
    width: 50%;
    margin: 60px auto;
}

.login-form__heading {
    text-align: center;
    font-size: 36px;
}

.login-form__form {
    margin: 20px 0;
}

.login-form__group {
    width: 100%;
    margin: 20px 0;

}

.login-form__label {
    font-size: 24px;
    font-weight: bold;
}

.login-form__input {
    width: 100%;
    margin-top: 5px;
    padding: 15px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 25px;
}

.login-form__error-message {
    color: rgb(254, 75, 75);
}

.login-form__button {
    margin-top: 60px;
}

.login-form__button-submit {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    background: #FF5555;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

.register-link {
    text-align: center;
}

.register-link a {
    text-decoration: none;
    font-size: 20px;
    color: #0073CC;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .login-form {
        width: 75%;
    }
}