.category-wrap input[type="checkbox"] {
    display: none;
}

.category-label {
    display: inline-block;
    margin: 4px;
    padding: 8px 16px;
    border-radius: 200px;
    border: 2px solid #FF5655;
    color: #FF5655;
    cursor: pointer;
}

.category-wrap input[type="checkbox"]:checked + .category-label {
    background-color: #FF5655;
    color: #FFFFFF;
}